<mat-card class="menu-item">
  <img mat-card-image [src]="menuItem.img_url" (load)="test($event)" alt="Photo of a Shiba Inu">
  <h3 class="price">{{menuItem.price}}</h3>
  <mat-card-content>
    <mat-card-title>{{menuItem.name}}</mat-card-title>
    <div fxLayout fxLayoutAlign="space-between">
    <mat-card-subtitle>{{menuItem.cuisine}}</mat-card-subtitle>
    <mat-card-subtitle>{{menuItem.type}}</mat-card-subtitle>
    </div>
    <mat-chip-list>
      <mat-chip *ngFor="let avail of menuItem.availability">{{avail | uppercase}}</mat-chip>
    </mat-chip-list>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions fxLayout fxLayoutAlign="end">
    <div fxLayout class="count-container" *ngIf="menuItem.quantity > 0; else add_to_cart" >
      <mat-icon class="count-icon" (click)="menuItem.quantity = menuItem.quantity-1; removeCartItems(menuItem)">remove</mat-icon><span class="count-value">{{menuItem.quantity}}</span><mat-icon class="count-icon" (click)="menuItem.quantity = menuItem.quantity+1;addToCart(menuItem)">add</mat-icon>
    </div>
    <ng-template #add_to_cart>
      <div class="add-cart-container">
        <button mat-stroked-button (click)="menuItem.quantity= menuItem.quantity+1; addToCart(menuItem)">Add to Cart</button>
      </div>
    </ng-template>
  </mat-card-actions>
</mat-card>
