<mat-toolbar class="mat-elevation-z4">
  <div fxLayout fxLayoutAlign="space-between center" fxLayoutAlign.xs="space-between center" class="w-100">
    <div fxShow.lt-sm="true" fxHide><mat-icon [mat-menu-trigger-for]="menu">menu</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="menu">Home</button>
        <button mat-menu-item routerLink="orders">Orders</button>
        <button mat-menu-item>Help</button>
      </mat-menu>
    </div>
    <div class="logo" fxFlex.gt-sm="60"><h1>Food Order</h1></div>
    <div fxFlex.gt-sm="auto">
      <nav fxLayout fxLayoutAlign="space-evenly center" fxLayoutAlign.xs="end">
        <a fxHide.lt-sm="true">Help</a>
        <a fxHide.lt-sm="true" [routerLink]="['/menu']">Home</a>
        <a fxHide.lt-sm="true" [routerLink]="['/orders']" >Orders</a>
        <a [matMenuTriggerFor]="cart"><span [matBadge]="(store.state$|async)?.cartItems?.length" matBadgeOverlap="false" matBadgeSize="medium">Cart</span></a>
        <mat-menu #cart="matMenu" class="w-100">
          <div *ngIf="(store.state$|async)?.cartItems?.length;else message">
          <app-cart [cartDataList]="(store.state$|async)?.cartItems || []"></app-cart>
        </div>
        </mat-menu>
        <ng-template #message>
          <div class="alt-message">
            <h2>YOUR CART IS EMPTY <mat-icon>shopping_bag</mat-icon></h2>
            <h3>Please add some items from the menu.</h3>
          </div>
        </ng-template>
      </nav>
    </div>
  </div>
</mat-toolbar>
