<div class="container">
  <div class="top-container" fxLayout.xs="column" fxLayout fxLayoutAlign="space-between center">
    <div>
      <ul fxLayout.xs="column" fxLayout fxLayoutAlign.xs="center" fxLayoutAlign="space-around" fxLayoutGap="20">
        <li>Disclaimer</li>
        <li>Privacy Policy</li>
        <li>Faq</li>
        <li>Terms & Conditions</li>
        <li>Feedback</li>
      </ul>
    </div>
    <div fxLayout fxLayoutGap="10">
      <img src="./assets/images/play_store.jpg">
      <img src="./assets/images/app_store.jpg">
    </div>
  </div>
</div>
