.order-filter-container{
  margin-bottom: 10px;
  padding: 10px;

  .mat-stroked-button{
    font-weight: 200 !important;
  }
  position: sticky;
  top:65px;
  z-index: 1;
  background: #ffffff;
}

input{
  width: 40%;
  border: 0.5px solid #cdcaca;
  border-radius: 3px;
}
