<div class="container">
  <div class="item-row mat-elevation-z4" *ngFor="let item of filteredList">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlexAlign="start">
          <mat-card-title>{{item.item_name}}</mat-card-title>
          <mat-card-subtitle>{{item.cuisine}}</mat-card-subtitle>
        </div>
        <div>
         <mat-chip-list> <mat-chip>{{item.type}}</mat-chip></mat-chip-list>
        </div>
        <div>
          {{item.price}}
        </div>
        <div>
          {{item.order_date}} at
          {{item.order_time}}
        </div>
      </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
